@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #FAFAFC;
  color: #0F172A;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  margin: 0;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}